.contact {
  padding-top: 3rem;
}

.contact-title {
  margin-left: 8rem;
  margin-top: 3rem;
  float: left;
}

.form {
  float: right;
  margin-right: 28rem;
  margin-top: 4rem;
}

.form-group {
  display: inline-grid;
}

label {
  margin: 0.5rem;
}

input {
  height: 7vh;
  min-width: 25vw;
  margin: 1rem;
}

textarea {
  height: 25vh;
  min-width: 25vw;
  margin-top: 0.5rem;
}

button {
  height: 5vh;
  min-width: 12vw;
  background: #DA7EE2;
  color: white;
  margin-top: 2rem;
  border-radius: 7%;
  border: none;
}

@media screen and (max-width: 520px) {
  .contact {
    padding: 0;
  }

  .contact-title {
    margin-left: 2.5rem;
    margin-top: 1rem;
    float: left;
  }

  h1 {
    font-size: 26px;
  }

  .contact-data {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .form {
    float: none;
    margin: 1rem;
  }

  input {
    height: 7vh;
    min-width: 55vw;
    margin: 1rem;
  }

  textarea {
    height: 22vh;
    min-width: 55vw;
  }
}
