.events-data {
  margin: 5rem;
  border: 0.5px solid black;
  border-radius: 9px;
  padding: 2rem;
  text-decoration: none;
  transform: scale(0.9);
}

.events-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 30vh;
}

ul {
  padding-inline-start: 0;
}

.events-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 50vw;
}

.events-about,
.events-facilitator {
  text-align: justify;
  margin: 2rem;
}

.events-image {
  margin: 3rem;
}

h1 {
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .events-data {
    margin: 2rem;
    padding: 0.7rem;
  }
}
