.work-header {
  margin-top: 4rem;
}

.work-text {
  float: left;
  padding: 4rem;
  text-align: justify;
  margin: 0 12rem 0 12rem;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 520px) {
  .work {
    padding: 1rem;
  }

  .work-data {
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }

  .work-text {
    padding: 0;
    margin: 0 0.5rem 4rem 0.5rem;
  }

  h1 {
    font-size: 26px;
    margin-bottom: 2rem;
    text-align: center;
  }
}
