.home {
  max-height: 70vh;
  padding: 3rem;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.home-text {
  padding: 0rem 2rem;
  text-align: justify;
}

@media screen and (max-width: 520px) {
  .home {
    padding: 1rem;
  }

  .home-card {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .home-text {
    padding: 0;
  }
}
